[Unit]
Description=NFTABLES DNS support
DefaultDependencies=no
After=nftables.service network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/nft-dns/nft-dns.py
Restart=on-failure

[Install]
WantedBy=multi-user.target